.header{
    display: flex;
    align-items: center;
    margin: 30px 30px;
}

.header h1{
    color: white;
    margin-left: 10px;
}

.logo {
    color: blue;
    height: 50px;
    width: 50px;
}

.header img{
    width: 50px;
    height: 50px;
    align-items: center;
    margin-bottom: 16px;
}


.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 70px;
    margin-left: 650px;
}

.navbar ul li a{
    text-decoration: underline;
    color: white;
}

li:hover{
    background-color: grey;
}


.section h2{
    color: red;
    margin-top: 100px;
    margin-left: 50px;
}

.section h4{
    color: brown;
    margin-top: 100px;
    margin-left: 50px;
}

.section p{
    margin-top: 40px;
    margin-left: 50px;
}


.container{
    width: 100%;
    height: 75px;
    background-color: black;
}


.top-container{
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 5px;
    margin: 40px 80px;
    font-size: 20px;
    color: aqua;
    box-shadow: 0 4px 10px rgba(34, 1, 7, 0.3);
    text-shadow: 2px 2px 5px rgba(156, 120, 12, 0.5);

}


.bottom-container{
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 5px;
    margin: 40px 80px;
    font-size: 20px;
    color: rgb(12, 20, 61);
    box-shadow: 0 4px 10px rgba(34, 1, 7, 0.3);
    text-shadow: 2px 2px 5px rgba(156, 120, 12, 0.5);
}


.last-container{
    box-sizing: border-box;
    border: 2px solid orange;
    border-radius: 5px;
    margin: 40px 80px;
    font-size: 20px;
    color: rgb(3, 90, 11);
    box-shadow: 0 4px 10px rgba(34, 1, 7, 0.3);
    text-shadow: 2px 2px 5px rgba(156, 120, 12, 0.5);
}


.footer-container{
    height: 400px;
    width: 100%;
    display: flex;
    margin-left: 80px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;   
    border: 1px solid rgb(167, 11, 11);     
}

th, td {
    border: 1px solid black;     
    padding: 10px;              
    text-align: center;
}


table{
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.home-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
}

.home-text{
    width: 55%;
}


.home-image{
    width: 35%;
}

.home-image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    top: 600px;
}
#form-container{
    margin-left:80px;
}
#form-container label input{
    display: flex;
    width: 50%;
    height: 50px;
    border: 2px solid grey;
}
#form-container button{
    width: 50%;
    height: 50px;
    color: black;
    font-size: 20px;
    background-color: gray;
}
